varga_pripoc.aux
varga_pripoc.bbl
varga_pripoc.bib
varga_pripoc.dvi
varga_pripoc.fdb_latexmk
varga_pripoc.fls
varga_pripoc.log
varga_pripoc.out
varga_pripoc.synctex.gz
__latexindent_temp.tex
__latexindent_temp.dvi
.DS_Store
varga_pripoc.blg
